<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Hosted homes</title>
  <link rel="stylesheet" href="/output.css">
</head>
<body class="bg-red-100">
  <%- include("../partials/nav") %>
  <div class="max-w-7xl mx-auto p-6">
    <p class="text-3xl font-bold text-center mt-8">Homes hosted by you:</p>
    <div class="py-3 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">
      <% houselist.forEach(homes=>{ %>
        <div class="bg-white rounded-lg shadow-lg overflow-hidden">
          <img src=<%= homes["image"] %> alt="House Image" class="w-full h-56 object-cover">
          <div class="p-4">
            <p class="text-sm text-gray-500">By <span class="font-semibold text-gray-800"><%= homes["listername"]%></span></p>
            <h2 class="text-xl font-semibold text-gray-800 mt-2"><%= homes["housename"] %></h2>
            <p class="text-sm text-gray-500 mt-1">Location: <span class="text-gray-800"><%= homes["location"] %></span></p>
         <div class="flex items-center justify-between mt-2">
            <p class="text-lg font-semibold text-gray-900">Rs.<%= homes["price"] %>/night</p>
            <div class="flex items-center">
              <span class="text-yellow-500 mr-1">★★★★★</span> 
              <span class="text-sm text-gray-500"><%= homes["rating"] %></span>
            </div>
          </div>
            
            <div><a href="/edithome/<%= homes._id %>?edit=true" class="bg-blue-500 text-white py-2 px-4 rounded-full text-sm hover:bg-blue-600 transition">Edit info</a></div>
            <div>
              <form action="/deletehome/<%= homes._id %>" method="POST">
                <button type="submit" class="bg-red-500 text-white py-2 px-4 rounded-full text-sm hover:bg-red-700 transition">Delete</button>
              </form>
            </div>
          </div>
        </div>
      <% }) %>

      </div>
  </div>
</body>
</html>
